@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
@font-face {
  font-family: "cascadia code";
  src: url("../assets/fonts/CascadiaCode.ttf") format("truetype");
}
:root{
  --colorOne: #00faf8;
  --colorTwo: #2f82f5;
  --colorThree: #005cfa;
  --colorFour: #001821;
  --fontTitle: anta;
  --fontText: cascadia code;
}


*{
  font-size: 16px;
  font-family: var(--fontText), Impact, system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  user-select: none;
  text-align: justify;
}

body{
  width: 100vw;
  max-height: 100vh;
  background-color: var(--colorFour);
  overflow: hidden;
  background-color: var(--colorFour);
}

h1{
  font-family: var(--fontTitle), 'Arial Narrow Bold', sans-serif
}

.container-footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: end;
  bottom: 0;
  width: 100vw;
  min-height: 10vh;
  background: linear-gradient(0deg, #001821f1 30%, #0018216d);
}

.copyright {
  text-align: center;
  font-size: calc(1px + 1vw);
}

@media screen and (max-width: 992px) {

  .copyright {
    font-size: calc(5px + 2vw);
  }
}
