@import url('https://fonts.googleapis.com/css2?family=Anta&family=Fira+Code:wght@300..700&display=swap');


:root {
  --blueOne: #00faf8;
  --blueTwo: #2f82f5;
  --blueThree: #005cfa;
  --blueFour: #001020;
  --fontTitle: "anta";
  --fontText: "Fira Code";
}


* {
  user-select: none;
  font-size: 16px;
  font-family: var(--fontText), monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}

body, html {
  cursor: url(/public/cursor-32x32.svg), auto;
  width: 100vw;
  height: 100vh;
  background-color: var(--colorFour);
  overflow: hidden;
}

h1, h3, h5 {
  font-family: var(--fontTitle), 'Arial Narrow Bold', sans-serif
}
p {
  font-size: 1.5rem;
  font-weight: 300;
  hyphens: auto;
  text-align: justify;
}

strong {
  font-family: var(--fontTitle);
  font-weight: bolder;
}

.underline{
  content: " ";
  position: absolute;
  left: -20px;
  bottom: -5px;
  width: calc(290px + 5vw);
  height: 5px;
  background: linear-gradient(
    to right,
    var(--colorOne),
    var(--colorTwo),
    var(--blueFour)
  );
}

.container-footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: end;
  text-align: center;
  bottom: 0;
  width: 100vw;
  min-height: 10vh;
  background: linear-gradient(0deg, var(--colorFour), transparent);
}

.copyright {
  text-align: center;
  font-size: calc(0.5rem + 0.5vw);
}

@media screen and (max-width: 768px) {
  p{
    text-align: justify;
    font-size: 1rem;
  }
}
