---
import Layout from "../layouts/Layout.astro";
import resources from "../resources/resources.json";
const data = resources.info;
const pageData = {
  title: "Desarrollador",
  subTitle: "Front-End",
};
---

<Layout pageData={pageData}>
  <>
    <p class="text-main">
      {
        `¡Hola! Soy ${data.avatar.name.split(" ")[0]}, un entusiasta del desarrollo Front-end que
      adora sumergirse en códigos y crear experiencias de usuario que encantan y facilitan la vida. Como estudiante de ingeniería en informática y con certificaciones en diseño web y desarrollo front-end, cada proyecto es una aventura donde aplico mi conocimiento y creatividad.`
      }
    </p>
    <p class="text-main">
      {
        `Mi pasion por lo que hago hace que cada reto sea una oportunidad para aprender algo nuevo y marcar la diferencia.`
      }
    </p>
  </>
</Layout>

<style></style>
