---
import Layout from "../layouts/Layout.astro";
const pageData = {
  title: "Desarrollador",
  subTitle: "Front-End",
};
---

<Layout pageData={pageData}>
  <>
    <p class="fs-4">
      Yehison Como estudiante de Ingeniería en Informática en el 7º semestre, he
      estado inmerso en el emocionante mundo de la programación durante
      aproximadamente un año. Mi pasión se centra en el desarrollo de
      experiencias de usuario y la creación de interfaz de usuario atractivas y
      funcionales. Como estudiante de Ingeniería en Informática en el 7º
      semestre, he estado inmerso en el emocionante mundo de la programación
      durante aproximadamente un año. Mi pasión se centra en el desarrollo de
      experiencias de usuario y la creación de interfaz de usuario atractivas y
      funcionales. Como estudiante de Ingeniería en Informática en el 7º
      semestre, he estado inmerso en el emocionante mundo de la programación
      durante aproximadamente un año. Mi pasión se centra en el desarrollo de
      experiencias de usuario y la creación de interfaz de usuario atractivas y
      funcionales. Yehison
    </p>
  </>
</Layout>

<style></style>
