---
import BadgesSkills from "../components/BadgesSkills.astro";
import Layout from "../layouts/Layout.astro";
import resources from "../resources/resources.json";

const data = resources.info;
const pageData = {
  title: "Desarrollador",
  subTitle: "Front-End",
  description: `Portafolio de ${resources.info.avatar.name}, un desarrollador front-end con experiencia en HTML, CSS, JavaScript, React, Astro, entre otras. Descubre mis proyectos web y más sobre mí aquí.`,
};
---

<Layout pageData={pageData}>
  <div class="main-index-container">
    <p>
      Desarrollador front-end apasionado por crear interfaces web atractivas y funcionales.
    </p>
    <h3>Habilidades:</h3>
  <BadgesSkills dataSkills={data.avatar.skills} />
  </div>
</Layout>