---
import Navigations from "../components/Navigations.astro";
import Layout from "../layouts/Layout.astro";
import resources from "../resources/resources.json";
const data = resources.info;
const pageData = {
  title: "Desarrollador",
  subTitle: "Front-End",
  description: `Portafolio de ${resources.info.avatar.name}, un desarrollador front-end con experiencia en HTML, CSS, JavaScript, React, Astro, entre otras. Descubre mis proyectos web y mas sobre mi aquí.`,
};
---

<Layout pageData={pageData}>
  <div>
    <p class="text-main">
      Desarrollador front-end apasionado por crear interfaces web atractivas y
      funcionales.
    </p>
    <p class="text-main">Experiencia en tecnologías como:</p>
    <div class="hstack my-5">
      {
        ["HTML", "CSS", "JavaScript", "React"].map((item) => (
          <h3 class="badge container-badges">{item}</h3>
        ))
      }
    </div>
  </div>
</Layout>
