---
import Layout from "../layouts/Layout.astro";
import resources from "../resources/resources.json";
const data = resources.info;
const pageData = {
  title: "Desarrollador",
  subTitle: "Front-End",
};
---

<Layout pageData={pageData}>
  <>
    <p class="text-main">
      {
        `¡Hola! Soy ${data.avatar.name.split(" ")[0]}, un desarrollador front-end apasionado por crear interfaces web atractivas y funcionales. Tengo 6 meses de experiencia trabajando con tecnologías como HTML, CSS, JavaScript, React y Astro.`
      }
    </p>
    <p class="text-main">
      {
        `Mi pasion por lo que hago hace que cada reto sea una oportunidad para aprender algo nuevo y marcar la diferencia.`
      }
    </p>
  </>
</Layout>
