---
import Avatar from "./Avatar.astro";
import Contact from "./Contact.astro";
import Page from "../components/Page.astro";
import { fade } from "astro:transitions";
const { pageData } = Astro.props;
---

<>
  <div class="container container-body">
    <div class="row">
      <div class="col-xs-12 col-lg-5 contaniner-contact-body">
        <Avatar />
        <Contact />
      </div>
      <div
        class="col-xs-12 col-lg-7 container-main"
        transition:animate={fade({ duration: "1s" })}
      >
        <Page pageData={pageData}><slot /></Page>
      </div>
    </div>
  </div>
</>

<style>
  .contaniner-contact-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
  }

  .contaniner-contact-body {
  }

  @media screen and (max-width: 992px) {
    .contaniner-contact-body {
      height: 20vh;
    }
  }
</style>
