---
import { Picture } from "astro:assets";
import localLogoImage from "../assets/image/logo_Yehison.png";
import { List } from "react-bootstrap-icons";
---

<header class="container-fluid bg-body-transparent container-header">
  <div class="row">
    <div class="col container-logo-header">
      <a href="/">
        <Picture
          src={localLogoImage}
          alt="Logo de Yehison"
          class="image-logo"
          width={200}
        />
      </a>
    </div>
    <div class="col container-icon-header">
      <a href="/menu" class="navbar-toggler button-header" type="button">
        <List color="white" className="icon-header" />
      </a>
    </div>
  </div>
</header>

<style>
  .container-header {
    height: calc(20px + 3vw);
  }
  .container-logo-header {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .container-icon-header {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .container-logo-header .image-logo {
    width: calc(80px + 3vw);
    height: auto;
  }
  .icon-header {
    fill: white;
    font-size: calc(1rem + 3vw);
    transition: all 0.3s ease-in-out;
  }

  .icon-header:hover {
    fill: var(--colorOne);
    transform: scale(1.2);
  }
</style>
