---
import { Image } from "astro:assets";
import localLogoImage from "../assets/image/logo_yehison.png";
---

<header class="container-fluid bg-body-trasnparent container-header">
  <div class="row">
    <div class="col container-logo-header">
      <a href="#">
        <Image src={localLogoImage} alt="Logo de Yehison" class="image-logo" />
      </a>
    </div>
    <div class="col container-icon-header">
      <a href="/menu" class="navbar-toggler button-header" type="button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          class="bi bi-list"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
          ></path>
        </svg>
      </a>
    </div>
  </div>
</header>

<style>
  .container-header {
    height: calc(20px + 3vw);
  }
  .container-logo-header {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .container-icon-header {
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .container-logo-header .image-logo {
    width: calc(80px + 3vw);
    height: auto;
  }
  .button-header {
    color: aliceblue;
    width: calc(2rem + 2vw);
  }
</style>
