---
import Header from "./Header.astro";
import Body from "./Body.astro";
const { pageData } = Astro.props;
---

<>
  <div class="container-main">
    <Header />
    <Body pageData={pageData}>
      <slot />
    </Body>
  </div>
</>
<style>
  .container-main {
    width: 100vw;
    min-height: 100vh;
    padding: calc(10px + 0.5vw);
  }
</style>
