---
import { fade } from "astro:transitions";
import Underline from "./Underline.astro";
const { pageData } = Astro.props;
---

<>
  <main class="container-fluid container-page">
    <div class="container-titles">
      <h2 class="container-title display-5">{pageData.title}</h2>
      <h1 class="container-subtitle display-2">{pageData.subTitle}</h1>
    </div>
    <Underline marginLine="150px" />
    <div class="container-main">
      <div>
        <slot />
        <div class="empty-space"></div>
      </div>
    </div>
  </main>
</>
<style>
  .container-page {
    position: relative;
  }

  .container-main {
    display: flex;
    align-content: center;
    text-align: justify;
    hyphens: auto;
    height: calc(100vh - 200px);
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .container-main::-webkit-scrollbar {
    display: none;
  }

  .empty-space {
    height: 150px;
  }

  @media screen and (max-width: 992px) {
    .container-main {
      height: calc(70vh - 120px);
    }
  }
</style>
