---
import { slide } from "astro:transitions";
import Underline from "./Underline.astro";
const { pageData } = Astro.props;
---

<>
  <main class="container container-page">
    <div
      class="container-titles pb-2"
      transition:animate={slide({ duration: "1s" })}
    >
      <h2 class="container-title display-6">
        {pageData.title || <br />}
      </h2>
      <h1 class="container-subtitle display-4">{pageData.subTitle}</h1>
    </div>
    <Underline />
    <div
      class="container-main"
      transition:animate={slide({
        duration: "1s",
      })}
    >
      <div>
        <div class="empty-space-top"></div>
        <slot />
        <div class="empty-space-bottom"></div>
      </div>
    </div>
    
  </main>
</>
<style>
  .container-titles h1,
  .container-titles h2 {
    line-height: 1;
    margin: 0;
    padding: 0;
  }

  .container-main {
    width: 90%;
    height: calc(100vh - 200px);
    margin-top: 7px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .container-main::-webkit-scrollbar {
    display: none;
  }

  .empty-space-bottom {
    height: 150px;
  }

  .empty-space-top {
    height: 50px;
  }

  @media screen and (max-width: 1200px) {
    .container-main {
      min-width: 80vw;
      height: calc(70vh - 40px);
    }
    .empty-space-bottom {
      height: calc(150px - 5vw);
    }
    .empty-space-top {
      height: calc(10px + 5vw);
    }
  }
</style>
