---
import { fade, slide } from "astro:transitions";
import Underline from "./Underline.astro";
const { pageData } = Astro.props;
---

<>
  <main class="container-fluid container-page">
    <div
      class="container-titles"
      transition:animate={slide({ duration: "1s" })}
    >
      <h2 class="container-title display-5">{pageData.title}</h2>
      <h1 class="container-subtitle display-2">{pageData.subTitle}</h1>
      <Underline />
    </div>

    <div
      class="container-main"
      transition:animate={slide({
        duration: "1s",
      })}
    >
      <div>
        <div class="empty-space-top"></div>
        <slot />
        <div class="empty-space-bottom"></div>
      </div>
    </div>
  </main>
</>
<style>
  .container-page {
    position: relative;
  }
  .container-titles {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .container-titles h1,
  .container-titles h2 {
    line-height: 1;
    margin: 0;
    padding: 0;
  }

  .container-main {
    display: flex;
    align-content: center;
    text-align: justify;
    hyphens: auto;
    height: calc(100vh - 200px);
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .container-main::-webkit-scrollbar {
    display: none;
  }

  .empty-space-bottom {
    height: 100px;
  }

  .empty-space-top {
    height: 30px;
  }

  @media screen and (max-width: 992px) {
    .container-main {
      height: calc(70vh - 40px);
    }
    .empty-space-bottom {
      height: calc(100px - 1vh);
    }
  }
</style>
