---
import SocialMedia from "./SocialMedia.astro";
const {dataPersons} = Astro.props;
---
<div class="container">
  <ul class="vstack gap-3 ">
    {dataPersons.map((items) => (
      <li class="position-relative">
        <span class="hstack gap-5">
          <h4 class="mt-2">{items.name}</h4>
          <SocialMedia dataSocialMedia={items.socialMedia} />
        </span>
        <div class="underline"/>
      </li>
    ))}
  </ul>
</div>

