---
import BadgesSkills from "./BadgesSkills.astro";
import ImageCarousels from "./ImageCarousels.astro";
import ProjectCode from "./ProjectCode.astro";
import ProjectData from "./ProjectData.astro";
import SocialMedia from "./SocialMedia.astro";

const { projectData } = Astro.props;
---

<div class="container">
  <div class="row text-center">
    <h3>{projectData.shortDescription}</h3>
    <BadgesSkills dataSkills={projectData.skills || []} />
    <ImageCarousels carouselsData={projectData.carouselsData || {}} />
  </div>
  <div class="my-3">
    <ProjectData projectData={projectData || {}} />
    <h3 class="position-relative mb-3">
      Descripción
      <div class="underline"></div>
    </h3>
    {
      projectData.largeDescription.map((items) => (
        <p class="fs-5 my-2 description-text">{items}</p>
      ))
    }
  </div>
  <div class="mb-5 text-center">
    {
      projectData.dataSocialMedia && (
        <>
          <h3>Míralo en acción</h3>
          <SocialMedia dataSocialMedia={projectData.dataSocialMedia || []} />
        </>
      )
    }
  </div>
  <div>
    <h3 class="position-relative mb-4">
      Fragmentos del proyecto
      <div class="underline"></div>
    </h3>
    <ProjectCode projectCode={projectData.projectCode || []} />
  </div>
</div>
