---
const { projectCode } = Astro.props;
---

<div class="code-block">
  {projectCode.map((item) => <script type="module" src={item} />)}
</div>
<style>
  .code-block {
    font:
      16px var(--fontText),
      sans-serif;
  }
</style>
