---
const { projectCode } = Astro.props;
---

<div class="container">
  {
    projectCode.map((item) => (
      <div class="row">
        <script is:inline data-astro-rerun src={item} />
      </div>
    ))
  }
</div>
