---
const { projectCode } = Astro.props;
---

<div class="container">
  {
    projectCode.map((item) => (
      <div class="row">
        <script is:inline data-astro-rerun src={item} />
      </div>
    ))
  }
  <div class="alert alert-info" role="alert">
    Si no ha cargado el bloque de código <a
      class="alert-link"
      href=""
      id="refresh-link">refresca la pagina</a
    >
  </div>
  <script is:inline>
    document.getElementById("refresh-link").addEventListener("click", () => {
      location.reload();
    });
  </script>
</div>

<style>
  #refresh-link:hover {
    transform: scale(1.1);
    transition: all ease-in-out 300ms;
  }
</style>
