---

---

<div class="container-frames-underline">
  <div class="frames-underline">
    <div class="line-underline"></div>
  </div>
</div>

<style>
  :root {
    --large-horizontal-line-frame-underline: 50vw;
    --weight-line-frame-underline: 7px;
  }
  .container-frames-underline {
    position: relative;
  }
  .line-underline {
    position: absolute;
    width: var(--weight-line-frame-underline);
    background: linear-gradient(
      var(--colorOne) 12.5%,
      var(--colorTwo),
      var(--colorThree),
      var(--colorFour)
    );
    height: var(--large-horizontal-line-frame-underline);
    top: calc(var(--large-horizontal-line-frame-underline) / -2);
    left: calc(
      (var(--large-horizontal-line-frame-underline) / 2) -
        (var(--weight-line-frame-underline) / 2)
    );
    transform: rotate(-90deg);
  }

  @media screen and (max-width: 1200px) {
    :root {
      --large-horizontal-line-frame-underline: 75vw;
      --weight-line-frame-underline: 5px;
    }
  }
</style>
