---
const marginLine = Astro.props;
---

<div class="container-frames-underline">
  <div class="frames-underline">
    <div class="line-underline horizontal-underline"></div>
  </div>
</div>

<style define:vars={marginLine}>
  :root {
    --large-horizontal-line-frame-underline: 50vw;
    --large-vertical-line-frame-underline: 80vh;
    --weight-line-frame-underline: 7px;
  }
  .container-frames-underline {
    position: relative;
    top: var(--marginLine);
  }
  .line-underline {
    position: absolute;
    width: var(--weight-line-frame);
    background: linear-gradient(var(--colorOne), transparent),
      linear-gradient(white, transparent 80%);
  }

  .frames-underline .horizontal-underline {
    height: var(--large-horizontal-line-frame);
    top: calc(
      (var(--large-horizontal-line-frame) / -2) + (var(--weight-line-frame) / 2)
    );
    left: calc(
      (var(--large-horizontal-line-frame) / 2) - (var(--weight-line-frame) / 2)
    );
    transform: rotate(-90deg);
  }

  @media screen and (max-width: 992px) {
    :root {
      --large-horizontal-line-frame: 70vw;
      --weight-line-frame: 5px;
    }
</style>
